//===========================================
// -Buttons start
//===========================================

.btn {
  cursor: pointer;
  &[disabled],
  &.disabled {
    cursor: not-allowed;
  }
}
.btn-primary {
  border-radius: 50px;
  background-color: $primary;
  padding: 15px 50px;
  border: 1px solid white;
}
//===========================================
// -Buttons end
//===========================================
